<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<section class="container">

<h1>Portifólio - Kátia Mitiko</h1>

    <h2> Objetivo</h2>

         <p>{{Objetivo}}</p>
    

    <h2 div class="CT">Conhecimentos Técnicos</h2>

        <p>{{ConhecimentosTecnicos}}</p>
    
    <h2 div class="CA">Cursos em Andamento</h2>

        <ul>
            <li>{{CursosEmAndamento}}</li>
            <li>{{CursosEmAndamento1}}</li>
            <li>{{CursosEmAndamento2}}</li></ul>

    <h2 div class="EP">Experiência Profissional</h2>

        <p>{{ExperienciasProfissionais}}</p>
    
    <h2 div class="EA">Experiência Acadêmica</h2>

         <ul>
            <li>{{ExperienciasAcademicas}}</li>
            <li>{{ExperienciasAcademicas1}}</li>
            <li>{{ExperienciasAcademica}}</li>
        </ul>

</section>
</body>
</html>